<section class="block container block-domain">
    <header class="block__header">
      <h1 class="block__header">The best web Hosting starting at $9 per month</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, totam?</p>
    </header>

    <div class="input-group">
        <input 
        type="text" 
        class="input" 
        placeholder="Enter Domain Name here...">
        <button class="btn btn--accent">
          <svg class="icon icon--white">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>Search</button>
    </div>
    <ul class="list block-domain__price">
      <li><span class="badge badge--secondary">.com $6</span></li>
      <li>.sg $10</li>
      <li>.ca $5</li>
      <li>.online $2</li>
      <li>.edu $4</li>
      <li>.org $15</li>
    </ul>
  </section>