<section class="block block--dark block--skewed-left block-showcase">
    <header class="block__header">
        <h2>User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--cols-2">
        <picture class="block-showcase__image">
            <source type="image/webp" srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x" />
            <source type="image/png" srcset="images/ipad.png 1x, images/ipad@2x.png 2x" />
            <img src="images/ipad.png" alt="" >
        </picture>
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/sprite.svg#snap"></use>
                              </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy start and manage update</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Ex ipsum ducimus dicta saepe consequatur quam natus quas quod earum doloremque!
                        </p>
                
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/sprite.svg#growth"></use>
                              </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Staging, Git and WP cli</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Ex ipsum ducimus dicta saepe consequatur quam natus quas quod earum doloremque!
                        </p>
                
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                                <use xlink:href="images/sprite.svg#wordpress"></use>
                              </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Dynamic caching and more</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Ex ipsum ducimus dicta saepe consequatur quam natus quas quod earum doloremque!
                        </p>
                
                    </div>
                </div>
            </li>
        </ul>
        
    </div>
    
</section>